table, th, td {
  border:1px solid darkcyan;
}
.list-wrapper{
  margin-top: 100px;
}
.btn{
  background: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 6px;
  color: white;
  font-size: 17px;
  width: 175px;
  height: 40px;
  position: right;
  margin: 10px;
  margin-top: 25px;
  letter-spacing: 1px;
  display: inline-block;
  float: right;
}
.btn:hover{
  background: white;
  border: 2px solid darkcyan;
  border-radius: 6px;
  color: darkcyan;
  font-size: 17px;
  width: 175px;
  height: 40px;
  position: right;
  margin: 10px;
  margin-top: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
}
