
<title>Product List and Grid View</title>
<meta
  name="viewport"
  content="width=device-width, user-scalable=no, initial=scale=1.0, maximun-scale=1.0, minimun-scale=1.0"
/>


<div class="container">
  <!--Product Grid-->
  <div id="div1">
    <section class="section-grid">
      <div class="grid-prod">
        <div class="prod-grid" *ngFor="let product of productsList">
          <img
            src="https://designmodo.com/demo/shopping-cart/item-2.png"
            alt="kalita"
          />
          <h3>{{product.name |uppercase}}</h3>
          <p>{{product.description}}</p>
          <h3>Price:{{product.price}}</h3>
          <button class="btn" (click)="addToCart(product)">
            Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </section>
  </div>
  <!--Product List-->
  <!-- <div id="div2" style="display: none">
    <section class="section-list">
      <table>
        <tr>
          <td>
            <img
              src="https://images.contentful.com/3h0qt25be5vd/1ojeAoISmMSKysKIOKEWGi/22b6344383ffabc7e250f1eed88287ae/Brew_Guide-KalitaWave-Step03.jpg?w=960&h=640&fm=jpg&q=70"
              alt="kalita"
            />
          </td>

          <td></td>
          <td>
            <h3>Ph'nglui mglw'nafh.</h3>
            <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.</p>
            <button class="btn-list">
              Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td width="30%">
            <img
              src="https://images.contentful.com/3h0qt25be5vd/1ojeAoISmMSKysKIOKEWGi/22b6344383ffabc7e250f1eed88287ae/Brew_Guide-KalitaWave-Step03.jpg?w=960&h=640&fm=jpg&q=70"
              alt="kalita"
            />
          </td>

          <td></td>
          <td>
            <h3>Ph'nglui mglw'nafh.</h3>
            <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.</p>
            <button class="btn-list">
              Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td width="30%">
            <img
              src="https://images.contentful.com/3h0qt25be5vd/1ojeAoISmMSKysKIOKEWGi/22b6344383ffabc7e250f1eed88287ae/Brew_Guide-KalitaWave-Step03.jpg?w=960&h=640&fm=jpg&q=70"
              alt="kalita"
            />
          </td>

          <td></td>
          <td>
            <h3>Ph'nglui mglw'nafh.</h3>
            <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.</p>
            <button class="btn-list">
              Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td width="30%">
            <img
              src="https://images.contentful.com/3h0qt25be5vd/1ojeAoISmMSKysKIOKEWGi/22b6344383ffabc7e250f1eed88287ae/Brew_Guide-KalitaWave-Step03.jpg?w=960&h=640&fm=jpg&q=70"
              alt="kalita"
            />
          </td>

          <td></td>
          <td>
            <h3>Ph'nglui mglw'nafh.</h3>
            <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.</p>
            <button class="btn-list">
              Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td width="30%">
            <img
              src="https://images.contentful.com/3h0qt25be5vd/1ojeAoISmMSKysKIOKEWGi/22b6344383ffabc7e250f1eed88287ae/Brew_Guide-KalitaWave-Step03.jpg?w=960&h=640&fm=jpg&q=70"
              alt="kalita"
            />
          </td>

          <td></td>
          <td>
            <h3>Ph'nglui mglw'nafh.</h3>
            <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.</p>
            <button class="btn-list">
              Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td width="30%">
            <img
              src="https://images.contentful.com/3h0qt25be5vd/1ojeAoISmMSKysKIOKEWGi/22b6344383ffabc7e250f1eed88287ae/Brew_Guide-KalitaWave-Step03.jpg?w=960&h=640&fm=jpg&q=70"
              alt="kalita"
            />
          </td>

          <td></td>
          <td>
            <h3>Ph'nglui mglw'nafh.</h3>
            <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.</p>
            <button class="btn-list">
              Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </table>
    </section>
  </div> -->
</div>
